.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header h1 {
    width: 1200px;
    text-align: center;
}

.header .gnb {
    margin: 10px 0 0 0;
}

.header .gnb>ul {
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: center;
    gap: 120px;
    line-height: 90px;
    font-size: 19px;
    font-weight: 500;
}

/* 메인비주얼 */
.main_visual {
    position: relative;
    margin: 0;
    padding: 80;
    text-align: center;
}

.main_visual .main_slider img {
    display: inline-block;
    text-align: center;

}